.chat-main
  .chat-main__group-info
    .chat-main__left-box
      %h2.chat-main__left-box__group
        test
      %ul.chat-main__left-box__member
        masa
    .chat-main__edit-btn
      = link_to "Edit", '#'

  .messages
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう

  .form
    %form.new_message
      .input-box
        %input{type:"text", class: "input-box__text", placeholder: "type a message　"}
        %label{class: "input-box__image"}
          = fa_icon 'image'
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}