.side-bar {
  width: 300px;
  color: white;
  float: left;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    .side-bar__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    }
  }
  li {
    font-size: 16px;
    margin-left: 5px;
  }
    .top-items {
      font-size: 16px;
      color: white;
      &__name {
        color: white;
        border-width:0;
        .top-items__icons {
          display: flex;
        }
        a {
          color: white;
      }
    }
  }
  &__groups-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    padding: 20px 0px 0px 20px;
  }
}

.group {
  height: 65px;
  width: 260px;
  font-weight: bolder;
  margin-bottom: 40px;
  a {
    color: white;
    text-decoration: none;
    &__name {
      color: #ffffff;
      font-size: 15px;
      display : flex;
      margin-bottom: 5px;
      &__list {
        color: #ffffff;
        font-size: 11px;
        width: 300px;
        display: flex;      
      }
    }
  }
}

