.side-bar {
  width: 300px;
  color: white;
  float: left;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px; 
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
  } 
}

.groups {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  display: flex;
  padding: 20px 0px 0px 20px;
=======
    .side-bar__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
    }
  }
  li {
    font-size: 16px;
    margin-left: 5px;
  }
    .top-items {
      font-size: 16px;
      color: white;
      &__name {
        color: white;
        border-width:0;
        .top-items__icons {
          display: flex;
        }
        a {
          color: white;
      }
    }
>>>>>>> Stashed changes
  }
  &__groups-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    padding: 20px 0px 0px 20px;
  }
<<<<<<< Updated upstream
=======
>>>>>>> parent of 4536412... Revert "メッセージ送信機能の実装"
>>>>>>> Stashed changes
}

.group {
  height: 65px;
  width: 260px;
  font-weight: bolder;
<<<<<<< Updated upstream
  margin-bottom: 40px;
  &__group-name {
=======
<<<<<<< HEAD
<<<<<<< HEAD
margin-bottom: 40px;
  &__group-name {
=======
  margin-bottom: 40px;
  &__name {
>>>>>>> parent of e782ac9... Revert "Messageモデル作成・ルーティング設定"
=======
  margin-bottom: 40px;
  &__name {
>>>>>>> parent of e782ac9... Revert "Messageモデル作成・ルーティング設定"
>>>>>>> Stashed changes
    color: #ffffff;
    font-size: 15px;
    display : flex;
    margin-bottom: 5px;
<<<<<<< Updated upstream
    &__group-list {
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> parent of e782ac9... Revert "Messageモデル作成・ルーティング設定"
    &__list {
>>>>>>> Stashed changes
      color: #ffffff;
      font-size: 11px;
      width: 300px;
      display: flex;
    }
<<<<<<< Updated upstream
  }
}
=======
>>>>>>> parent of e782ac9... Revert "Messageモデル作成・ルーティング設定"
  }
<<<<<<< HEAD
  &__group-list {
    color: #ffffff;
    font-size: 11px;
    width: 300px;
    display: flex;
  }
}
=======
}

>>>>>>> parent of 4536412... Revert "メッセージ送信機能の実装"
>>>>>>> Stashed changes
